Source: opencenter
Section: net
Priority: optional
Maintainer: Ron Pedde <ron@pedde.com>
Build-Depends: debhelper (>= 7.0.50~),
 python-all,
 python-support (>= 0.90),
 python-setuptools,
 python-requests,
 python-flask,
 python-sqlalchemy,
 python-migrate,
 python-daemon,
 python-chef,
 python-gevent,
 python-mako,
 python-netifaces
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: https://github.com/galstrom21/opencenter
XCBS-RCB-Component: rcb-utils

Package: python-opencenter
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-setuptools,
 python-requests,
 python-flask,
 python-sqlalchemy,
 python-migrate,
 python-daemon,
 python-chef,
 python-gevent,
 python-mako,
 python-netifaces
Provides: ${python:Provides}
Description: opencenter web API

Package: opencenter-simple
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-opencenter (= ${binary:Version})
Provides: ${python:Provides}
Description: init scripts for running opencenter in self-hosted flask.
 These init scripts run opencenter out of the flask built-in web server.
 This is something of a fail.  Do not do this in practice. DO WHAT I
 SAY NOT WHAT I DO.
