{
    "developer_mode": false,
    "monitoring" : {
        "procmon_provider" : "monit",
        "metric_provider" : "collectd"
    },
    "vips": {
% if 'nova_mysql_vip' in facts:
        "mysql-db": "${facts['nova_mysql_vip']}",
% endif
% if 'nova_rabbitmq_vip' in facts:
        "rabbitmq-queue": "${facts['nova_rabbitmq_vip']}",
% endif
% if 'nova_api_vip' in facts:
        "nova-api": "${facts['nova_api_vip']}",
        "nova-ec2-public": "${facts['nova_api_vip']}",
        "keystone-admin-api": "${facts['nova_api_vip']}",
        "keystone-service-api": "${facts['nova_api_vip']}",
        "cinder-api": "${facts['nova_api_vip']}",
        "glance-api": "${facts['nova_api_vip']}",
        "glance-registry": "${facts['nova_api_vip']}",
        "nova-novnc-proxy": "${facts['nova_api_vip']}",
        "nova-xvpvnc-proxy": "${facts['nova_api_vip']}",
        "horizon-dash": "${facts['nova_api_vip']}",
        "horizon-dash_ssl": "${facts['nova_api_vip']}"
% endif
    },
    "keystone" : {
        "tenants" : [ "admin", "service" ],
        "admin_user" : "admin",
        "users" : {
            "admin" : {
                "password" : "${facts['keystone_admin_pw']}",
                "roles" : {
                    "admin" : [ "admin" ]
                }
            }
        }
    },
    "horizon": {
      "theme": "Rackspace"
    },
    "glance": {
        "image" : {
        },
        "images": [
        ],
        "image_upload": false
    },
    "mysql": {
        "allow_remote_root": true,
        "root_network_acl": "%"
    },
    "nova": {
        "config": {
            "ram_allocation_ratio": "${facts['ram_allocation_ratio']}",
            "cpu_allocation_ratio": "${facts['cpu_allocation_ratio']}",
            "use_single_default_gateway": "${facts['use_single_default_gateway']}"
        },
        "libvirt": {
            "vncserver_listen": "0.0.0.0"
        },
        "network": {
            "fixed_range": "${facts['nova_vm_fixed_range']}",
            "dmz_cidr": "${facts['nova_dmz_cidr']}",
            "multi_host": true,
            "public_interface": "${facts['nova_public_if']}",
            "dhcp_domain": "${facts['nova_network_dhcp_name']}"
        },
        "apply_patches": true,
        "networks": [
            {
                "bridge_dev": "${facts['nova_vm_fixed_if']}",
                "num_networks": "1",
                "network_size": "${2 ** (32 - int(facts['nova_vm_fixed_range'].split('/')[1]))}",
                "bridge": "${facts['nova_vm_bridge']}",
                "ipv4_cidr": "${facts['nova_vm_fixed_range']}",
                "label": "public",
                "dns1": "8.8.8.8",
                "dns2": "8.8.4.4"
            }
        ]
    },
    "osops_networks": {
        "management": "${facts['osops_mgmt']}",
        "nova": "${facts['osops_nova']}",
        "public": "${facts['osops_public']}"
    },
    "package_component": "folsom"
}
