{
    "nova": {
      "config": {
        "availability_zone": "${facts['nova_az'] if 'nova_az' in facts else 'nova'}"
      },
      "libvirt": {
          "virt_type": ${facts['libvirt_type'] if 'libvirt_type' in facts else 'kvm'}"
      }
    }
}
